@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "lato", sans-serif;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 30px;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

footer {
  background-color: rgb(15, 74, 141);
  padding: 20px 10px;
}

footer a {
  color: white;
  margin: 0 10px;
}

footer a:hover {
  color: #56a0d1;
  border-bottom: 2px solid #56a0d1;
}
footer .container {
  align-items: center;
}

/* Classes */

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
}

.navbar {
  background-color: rgb(15, 74, 141);
  height: 70px;
  padding: 0 30px;
}

.navbar h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 9px;
  margin: 0 10px;
}

.navbar a:hover {
  color: #56a0d1;
  border-bottom: 3px solid #56a0d1;
}

.showcase {
  height: 300px;
  background-color: rgb(15, 74, 141);
}

.showcase p {
  margin-bottom: 30px;
}

.showcase img {
  /* box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2); */
  max-height: 400px;
  max-width: 400px;
  margin: auto;
  display: block;
  position: relative;
  top: 30px;
}

.showcase-form {
  padding-left: 7px;
}

.grid-item-1,
.grid-item-2 {
  position: relative;
  top: 50px;
}

.grid {
  overflow: visible;
  display: grid;
  grid-template-columns: 60% 40%;
}

.showcase input[type="email"] {
  padding: 10px 20px 10px 0;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
  min-width: 200px;
}

.btn {
  border-radius: 6px;
  padding: 12px 20px;
  background: #56a0d1;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.showcase-form {
  margin: auto;
}

.little-info {
  font-size: 15px;
  font-family: "poppins", sans-serif;
}

.lower-container {
  margin: 120px auto;
  padding: 0;
  max-width: 1400px;
  text-align: center;
}

.title {
  color: black;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.text {
  color: black;
  font-size: 19px;
  width: 100%;
  padding: 10px;
  margin: 0, 20px;
  text-align: justify;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.stats {
  padding: 45px 50px;
  text-align: center;
}

.stat {
  margin: 0 30px;
  text-align: center;
  width: 800px;
}

.stats .fa {
  color: rgb(15, 74, 141);
}

.testimonial {
  color: black;
  padding: 40px;
}

.testimonial img {
  height: 100%;
  clip-path: circle();
}

.testimonial h3 {
  text-align: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.circle {
  background-color: transparent;
  border: 3px solid rgb(15, 74, 141);
  height: 90px;
  position: relative;
  top: -30px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 90px;
  margin: auto;
}

/* Tablets and Under */
@media (max-width: 768px) {
  .grid,
  .grid-3 {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .stats .flex {
    flex-direction: column;
  }

  .stats {
    text-align: center;
    padding: 30px;
  }

  .image {
    width: 600px;
    margin: auto;
  }

  .stat {
    width: 100%;
    padding-right: 80px;
  }

  .circle {
    background-color: transparent;
    border: 3px solid rgb(15, 74, 141);
    height: 90px;
    position: relative;
    top: -30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 90px;
  }

  .showcase {
    height: auto;
    text-align: center;
  }
}

/* Mobile devices */
@media (max-width: 500px) {
  .navbar {
    height: 100px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar a:hover {
    color: white;
    border-bottom: 2px solid black;
  }

  .navbar ul {
    background: #56a0d1;
    border-radius: 5px;
    padding: 10px 0;
  }

  .showcase {
    height: auto;
    text-align: center;
  }

  .little-info {
    font-size: 13px;
  }

  .image {
    width: 350px;
    margin: auto;
  }

  .stat {
    margin-bottom: 40px;
    margin: 0;
    padding: 0;
  }

  .circle {
    background-color: transparent;
    border: 3px solid rgb(15, 74, 141);
    height: 90px;
    position: relative;
    top: -30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 90px;
  }
}
